<?xml version="1.0"?>
<launch>
  <param name="use_gui" value="true"/>
    <arg name="child_frame" value="base_footprint"/>
    <arg name="frame" value="odom"/>



   <!--  <param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'" />-->

   <param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_config)/urdf/youbot-laas.urdf.xacro'" />


   <param name="robot_description_sot" command="$(find xacro)/xacro.py '$(find youbot_config)/urdf/youbot-laas.urdf.xacro'" />

    <node name="robot_pose_publisher" pkg="dynamic_graph_bridge" type="robot_pose_publisher" args="_frame:=$(arg frame) _child_frame:=$(arg child_frame)">
        <env name="ROS_NAMESPACE" value="/dynamic_graph" />
    </node>

 <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
	<env name="ROS_NAMESPACE" value="/dynamic_graph"/>
    </node>

 
</launch>
